{% if title %}<h1>{{ rule }} : {{ title }}</h1></p>{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if result %}
<strong>Results:</strong>
<ul><li>{{ result }}</li></ul>
{% endif %}

{% if form %}
<form action="{% url form.views.view_rule4 %}" method="POST">{% csrf_token %}
	<div id="form">
		{{ form.as_p }}
	</div>
	<div id="submit"><input type="submit" value="Test {{ rule }}"></div>
</form>
{% endif %}

{% if request %}
<strong>Request:</strong>
{% autoescape off %}
{{ request }}
{% endautoescape %}
{% endif %}

{% if post %}
<strong>Post Data:</strong>
<ul>
{% for x,y in post.items %}
<li>{{ x }}: {{ y }}</li>
{% endfor %}
</ul>
{% endif %}
