<h1>{{ document.owner }}</h1>
<ul>
    <li>record       : {{ document.record }}</li>
    <li>create_date  : {{ document.create_date }}</li>
    <li>author       : {{ document.author }}</li>
    <li>hospital     : {{ document.hospital }}</li>
    <li>department   : {{ document.department }}</li>
    <li>type         : {{ document.type }}</li>
    <li>prescription : {{ document.prescription }}</li>
    <li>publish_date : {{ document.publish_date }}</li>
</ul>
<a href="/center/documents/">return</a>
