{% if test %}
    <ul>
    {% for x,y in test.items %}
        <li>{{ x }}: {{ y }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if session %}
    <ul>
    {% for x,y in session.items %}
        <li>{{ x }}: {{ y }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if document_list %}
    <ul>
    {% for document in document_list %}
        <li><a href="/center/documents/{{ document.id }}/">{{ document.owner }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
